<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Welcome</title>
</head>
<body>
    <div>
        <h2>Welcome!</h2>
        <div>
            <form th:action="@{/signup}">
                <input type="submit" value="Sign up" />
            </form>
        </div>
        <div>
            <form th:action="@{/login}">
                <input type="submit" value="Login" />
            </form>
        </div>
    </div>
</body>
</html>