<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
</head>
<body>
<form method="POST" th:object="${newPasswordForm}" th:action="@{/update/password/{id}(id=${userId})}">
    <div class="form-group">
        <div class="form-group">
            <input type="password" th:field="*{newPassword}" class="form-control" placeholder="New Password">
            <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{newPasswordCopy}" class="form-control" placeholder="New Password">
            <span th:if="${#fields.hasErrors('newPasswordCopy')}" th:errors="*{newPasswordCopy}"></span>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{oldPassword}" class="form-control" placeholder="Old Password">
            <span th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}"></span>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>