<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:object="${userCred}" th:action="@{/update/email/{id}(id=${userDto.getId()})}">
    <div class="form-group">
        <div class="form-group">
            <input type="text" th:field="*{email}" class="form-control" placeholder="New Email"
                   autofocus="true">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div class="form-group">
            <input type="password" th:field="*{password}" class="form-control" placeholder="Password">
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
</body>
</html>